@model EduCore.Models.AcademicProgram

@{
    ViewData["Title"] = "Academic Program Details";
}

<h1>Academic Program Details</h1>

<hr />

<dl class="row">

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ProgramName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProgramName)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ProgramCode)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProgramCode)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt class="col-sm-3">
        Department
    </dt>
    <dd class="col-sm-9">
        @Model.Department?.DepartmentName
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ProgramType)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProgramType)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.DurationYears)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DurationYears) Years
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.TotalParts)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.TotalParts)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.TotalSemesters)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.TotalSemesters)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>

</dl>

<div class="mt-3">

    <a asp-action="Edit"
       asp-route-id="@Model?.AcademicProgramId"
       class="btn btn-primary">
        Edit
    </a>

    <a asp-action="Index"
       class="btn btn-secondary">
        Back to List
    </a>

</div>