@model IEnumerable<EduCore.Models.AcademicProgram>

@{
    ViewData["Title"] = "Academic Programs";
}

<h1>Academic Programs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Create New Academic Program
    </a>
</p>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Program</th>
            <th>Department</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Parts</th>
            <th>Semesters</th>
            <th>Created</th>
            <th width="190">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.ProgramName
                </td>

                <td>
                    @item.Department?.DepartmentName
                </td>

                <td>
                    @item.ProgramType
                </td>

                <td>
                    @item.DurationYears Years
                </td>

                <td>
                    @item.TotalParts
                </td>

                <td>
                    @item.TotalSemesters
                </td>

                <td>
                    @item.CreatedDate.ToShortDateString()
                </td>

                <td>

                    <a asp-action="Edit"
                       asp-route-id="@item.AcademicProgramId"
                       class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    <a asp-action="Details"
                       asp-route-id="@item.AcademicProgramId"
                       class="btn btn-sm btn-info text-white">
                        Details
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.AcademicProgramId"
                       class="btn btn-sm btn-danger">
                        Delete
                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>