@model EduCore.Models.LeaveType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EduCore.Models.LeaveType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveTypeName)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveCode)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumDays)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiresApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiresApproval)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiresDocuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiresDocuments)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowCarryForward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowCarryForward)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowBackDateApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowBackDateApplication)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableAfterMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableAfterMonths)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsYearlyLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsYearlyLimit)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaidLeave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaidLeave)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeLeaves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeLeaves)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="LeaveTypeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
